.mainTitle{
	text-align: center;
	color: white;
}
h1{
	font-family:Arial;
	font-size: 40px;
	color: white;
}
p{
	text-align: center;
	font-size: 15px;
}
body{
	background-color: #15151a;
}
.mainGrid{
	margin-top:30px;
    margin-left:auto; 
    margin-right:auto;
}
.mainButtons{
	text-align:center;
}

button{
  background-color:#272b5e;
  border: none;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}